* {padding: 0; margin: 0 }
body {
 background-color: #D0F2F7;
 font-family: 'Helvetica';
}
#container {
  /* margin-top: 200px; */
}
#header {
  /* position: fixed; */
  padding: 20px;
  display: inline;
}
#footer {
  margin-bottom: 20px;
}
#wrapper {
  width: 90%;
  margin: 0 auto;
}
.post {
  padding: 10px;
}
.pic {
  cursor: pointer;
  border: 1px dashed #000;
  padding: 5px;
  /* max-height: 300px;
  max-width: 300px; */
  /* height: 400px;
  width: 400px; */
  font-size: 12pt;
}
.text {
  height: 400px;
  width: 400px;
}
.dialog {
  pointer: pointer;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.dialog div {
  width: 40%;
  margin: 120px auto;
  opacity: 0.95;
  background-color: #fff;
  padding: 15px;
  font-size: 20pt;
}
