* {padding: 0; margin: 0 }
body {
 background-color: #D0F2F7;
 font-family: 'Helvetica';
}
#header {
  padding: 20px;
}
#footer {
  margin-bottom: 20px;
}
#wrapper {
  width: 90%;
  margin: 0 auto;
}
.post {
  cursor: pointer;
  border: 2px solid #ccc;
  /* max-height: 300px;
  max-width: 300px; */
  /* height: 400px;
  width: 400px; */
  font-size: 12pt;
}
.photo {
  /* height: 800px; 
  width: 400px; */
}
.text {
  height: 400px;
  width: 400px;
}
