<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>tumblUpon</title>
    <meta name="author" content="Ceasar, Geoff, Dan">
		<title>TumblUpon</title>
    <link rel="stylesheet" type="text/css" href="/static/css/isotope.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    {% block styles %}
    {% endblock %}
    
    <script type="text/javascript" src="/static/javascripts/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/static/javascripts/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="/static/javascripts/tumblupon-utils.js"></script>
    <script type="text/javascript" src="/static/javascripts/mosaic.1.0.1.js"></script>
    <script type="text/javascript" src="/static/javascripts/index.js"></script>
    {% block scripts %}
    {% endblock %}
  </head>
  <body>
    <div id="wrapper">
      <div id='header'>
        <img src='/static/images/logo.png'/>
      </div>
      {% block content %}
      {% endblock %}
      <div id='footer'>
        <p>&copy; TumblUpon 2012</p>
        <p>A project by 
          <a href='https://twitter.com/Ceasar_Bautista'>Ceasar</a>,
          <a href='https://twitter.com/yefim323'>Geoffrey</a>, and
          <a href='https://twitter.com/kibib1te'>Dan</a>
        </p>
        <p>Designed and Built in 24 hours at HackNY, March 24-25 2012</p>
      </div>
    </div> <!-- /container -->
  </body>
</html>
