<div id='header'>
    <a id="logo" href="{{ url_for('index') }}"></a>
    <div id='sort-by'>
      <button href='#timestamp' class='selected btn btn-large'>Date</button>
      <button href='#name' class='btn btn-large'>Blog name</button>
    </div>
    <div id='sort-order'>
        <button href='#ascend' class='selected btn btn-large'>Ascending</button>
        <button href='#descend' class='btn btn-large'>Descending</button>
    </div>

    <button id='refresh' class='btn btn-large'>Refresh</button>

    <div class=navigation>
      {% if g.user %}
        <a class='btn' onclick="{{ url_for('logout') }}">logout [{{ g.user.username }}]</a>
        <a class='btn' href="{{ url_for('settings') }}">Settings</a>
      {% else %}
        <a class='btn' href="{{ url_for('register') }}">Register</a>
        <a class='btn' href="{{ url_for('login') }}">Login</a>
      {% endif %}
  </div>
</div>
