<div id='header'>
    <div id='logo'>
      <img src='/static/images/logo.png'/>
    </div>
    <div id='sort-by'>
      <button href='#newest' class='selected btn'>Newest</button>
      <button href='#oldest' class='btn'>Oldest</button>
    </div>
    <div class=navigation>
      {% if g.user %}
        <a href="{{ url_for('logout') }}">sign out [{{ g.user.username }}]</a>
      {% else %}
        <a href="{{ url_for('register') }}">Register</a>
        <a href="{{ url_for('login') }}">Sign in</a>
      {% endif %}
  </div>
</div>
