<html>
	<head>
		<title>TumblUpon</title>
    <link rel="stylesheet" type="text/css" href="/static/css/isotope.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/style.css" />
    <script type="text/javascript" src="/static/javascripts/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="/static/javascripts/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="/static/javascripts/index.js"></script>
	</head>
	<body>
    <div id='wrapper'>
      <div id='header'>
        <img src='/static/images/logo.png'/>
      </div>
  		<div id='container'></div>
      <div id='footer'>
        <p>&copy; TumblUpon 2012</p>
        <p>A project by 
          <a href='https://twitter.com/Ceasar_Bautista'>Ceasar</a>,
          <a href='https://twitter.com/yefim323'>Geoffrey</a>, and
          <a href='https://twitter.com/kibib1te'>Dan</a>
        </p>
        <p>Designed and Built in 24 hours at HackNY, March 24-25 2012</p>
      </div>
    </div>
	</body>
</html>
