{% extends "base.html" %}
{% block content %}
    <script type="text/javascript" src="/static/javascripts/index.js"></script>
<script type="text/javascript">
    var removeItem = function (e) {
      var tag = $(e).parents('.row').children().first().children().text();
      $.ajax({
        type: 'GET',
        url: '/tag/destroy/'+tag+'/'
      }).done(function(response) {
        $(e).parents(".row").remove();
        $remove = $('.'+tag);
        $('#container').isotope('remove', $remove);
      });
    };

</script>
<div id="main">
    <header>
        <form id="add-form" class="row">
            <div class="span4">
                <input id="tag" placeholder='Add a tag and press Enter...' name="tag_name" type="text" required="true" value="{{ tag }}"/>
            </div>
        </form>
    </header>
    {% for tag in tags %}
    <div class="row">
        <div class="span4">
            <span>{{ tag }}</span>
        </div>
        <div class="app-items-btns span4">
            <a class="btn"
                onclick="removeItem(this)">
                <i class="icon-remove"></i>
            </a>
        </div>
    </div>
    {% endfor %}
</div>
<div id='container'></div>
{% endblock %}
