<!DOCTYPE HTML>
<html>
    <head>
        <title>Isotope Test - Geoff</title>
        <link rel="stylesheet" type="text/css" href="/static/css/isotope.css" />
        <script type="text/javascript" src="/static/javascripts/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="/static/javascripts/jquery.isotope.min.js"></script>
        <script type="text/javascript" src="/static/javascripts/test.js"></script>
    </head>
    </script>
    <body>
        <div id="container"> 
            <div class="element"  data-category="alkali">
              <p class="number">3</p>
              <h3 class="symbol">Li</h3>
              <h2 class="name">Lithium</h2>
              <p class="weight">6.941</p>
            </div>
            
                  
            <div class="element alkaline-earth metal   "  data-category="alkaline-earth">
              <p class="number">4</p>
              <h3 class="symbol">Be</h3>
              <h2 class="name">Beryllium</h2>
              <p class="weight">9.012182</p>
            </div>
            
                  
            <div class="element metalloid   " data-category="metalloid">
              <p class="number">5</p>
              <h3 class="symbol">B</h3>
              <h2 class="name">Boron</h2>
              <p class="weight">10.811</p>
            </div>
            <div class="element other nonmetal   " data-category="other">
              <p class="number">1</p>
              <h3 class="symbol">H</h3>
              <h2 class="name">Hydrogen</h2>
              <p class="weight">1.00794</p>
            </div>
            
                  
            <div class="element noble-gas nonmetal   " data-symbol="He" data-category="noble-gas">
              <p class="number">2</p>
              <h3 class="symbol">He</h3>
              <h2 class="name">Helium</h2>
              <p class="weight">4.002602</p>
            </div>
            
                  
            <div class="element alkali metal   " data-symbol="Li" data-category="alkali">
              <p class="number">3</p>
              <h3 class="symbol">Li</h3>
              <h2 class="name">Lithium</h2>
              <p class="weight">6.941</p>
            </div>
            
                  
            <div class="element alkaline-earth metal   " data-symbol="Be" data-category="alkaline-earth">
              <p class="number">4</p>
              <h3 class="symbol">Be</h3>
              <h2 class="name">Beryllium</h2>
              <p class="weight">9.012182</p>
            </div>
            
                  
            <div class="element metalloid   " data-symbol="B" data-category="metalloid">
              <p class="number">5</p>
              <h3 class="symbol">B</h3>
              <h2 class="name">Boron</h2>
              <p class="weight">10.811</p>
            </div>
            <div class="element other nonmetal   " data-symbol="H" data-category="other">
              <p class="number">1</p>
              <h3 class="symbol">H</h3>
              <h2 class="name">Hydrogen</h2>
              <p class="weight">1.00794</p>
            </div>
            
                  
            <div class="element noble-gas nonmetal   " data-symbol="He" data-category="noble-gas">
              <p class="number">2</p>
              <h3 class="symbol">He</h3>
              <h2 class="name">Helium</h2>
              <p class="weight">4.002602</p>
            </div>
            
                  
            <div class="element alkali metal   " data-symbol="Li" data-category="alkali">
              <p class="number">3</p>
              <h3 class="symbol">Li</h3>
              <h2 class="name">Lithium</h2>
              <p class="weight">6.941</p>
            </div>
            
                  
            <div class="element alkaline-earth metal   " data-symbol="Be" data-category="alkaline-earth">
              <p class="number">4</p>
              <h3 class="symbol">Be</h3>
              <h2 class="name">Beryllium</h2>
              <p class="weight">9.012182</p>
            </div>
            
                  
            <div class="element metalloid   " data-symbol="B" data-category="metalloid">
              <p class="number">5</p>
              <h3 class="symbol">B</h3>
              <h2 class="name">Boron</h2>
              <p class="weight">10.811</p>
            </div>
        </div>
    </body>
</html>
